<h1>Hi, <%= current_user.first_name%></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Blog Posts</h2>
<%= @posts.last.title %><br>
<%= @posts.last.body %><br>
<%= @posts.inspect %><br>
<h2>Skills</h2>
<%= @skills.inspect %>
<%# object shows the object for whaqt its worth, just everything about it %>

<hr>

<%= content_tag :p, class: "my-special-class" do %>
HELLO WORLD!
<% end %>

<hr>

<%= sample_helper("my-class") %>
