<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Register', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
      <p>Please sign in or register to continue, apparently you can just put a p tag somewhere before the end keyword and it'll show up dynamically.</p>
    <% end %>
    <%= yield %>

    <% if session[:source] %>
    <p>Thanks for visiting from <%= session[:source] %>!</p>
    <% end %>
  </body>
</html>
