<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'home-page', media: 'all', 'data-turbolinks-track': 'reload' if params[:action] == "home"%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div id="background"></div>
          <div class="cover-container">
            <%= video_tag(
              'coffee.mp4',
              id: "background-video",
              autoplay: true,
              loop: true,
              muted: true,
              poster: 'coffee-screen.png'
            )
            %>
          <%= render "shared/application_nav" %>

          <%= yield %>

          <%= source_helper("application") %>
          <%= render "shared/application_footer" %>
        </div>

      </div>

    </div>

  </body>
</html>
